

.homepage-container {
    width: 80%;
    margin: auto;
  }
  
.App-home-container {
    text-align: center;
    display: flex;
    margin: 40px 0;
  }
  
  .App-header {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 1.5vmin);
      width: 20%;
      border: 1px solid #ccc;
      padding: 10px 5px;
  }
  .App-header h4 {
    margin: 20px 0;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }